.page{
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y:hidden;
  overflow-x: hidden;
}
.sidebar_part {
  width: 250px;
  height: 100%;
  background-color: white;
}
.page_content{
  flex: 1;
  
  

}
.booog{
  background-color: red;
  color: white;
  text-align: center;
  display:inline;
  align-content: center;
  text-align: right;
  
}
.main{
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  height: 100vh;

}
.div2{

  width: 80%; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
   /* Background color for the box */
  text-align: center; /* Center text horizontally */
  
}
.div1{
  width: 100%;
  height: 100%;
  text-align: center;
  
}
.nav{
  display: flex;
  justify-content: space-between;
  margin-left: 17px;
  margin-right: 17px;
}
.contant{
  display: flex;justify-content: space-between;
  margin-left: 17px;
  margin-right: 17px;

}
.phy{
  display: flex;
  justify-content: space-between;
  margin-left: 17px;
  margin-right: 17px;

}



